.demo-container {
  display: flex;
  flex-wrap: wrap;
}
.button-container {
  margin-top: 50px;
  padding: 10px;
}

.container-button {
  margin: 10px;
  font-size: 1.25em;
}

.demo {
  padding: 50px;
}

.list-container {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2rem;
}

.list-item {
  width: 180px;
  display: flex;
}

.title {
  text-align: center;
}

.paginate-container {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
}

.paginate-button {
  width: 80px;
  margin: 5px;
  font-size: 1em;
}

.demo-img {
  height: 100%;
  width: 400px;
}

.text-content {
  font-size: 1.2em;
}

.text-container {
  padding: 50px;
}

.app {
  padding: 50px;
  margin: auto;
}

.list-demo-container {
  height: 100vh;
  padding-top: 100px;
}

.card-container {
  margin-left: 50px;
  padding: 10px;
  background-color: deeppink;
}

.list-label {
  width: 80px;
}

.key-item {
  width: 50%;
}

.demo-key-container {
  background-color: rgb(202, 225, 230);
  padding-top: 50px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  border: 0;
  margin: 0;
  border-left: 5px solid black;
  height: 50px;
  margin-left: 50px;
}

.diag-line {
  border: 0;
  margin: 0;
  border-left: 5px solid black;
  height: 110px;
  margin-left: 50px;
  transform: rotate(-50deg);
  transform-origin: top left;
}

.diag-line-left {
  border: 0;
  margin: 0;
  border-left: 5px solid black;
  height: 110px;
  margin-left: 50px;
  transform: rotate(50deg);
  transform-origin: top left;
}

.left-circle {
  top: 50px;
  left: -80px;
  position: relative;
}
