.demo-container {
  display: flex;
}
.button-container {
  margin-top: 50px;
  padding: 10px;
}

.container-button {
  margin: 10px;
  font-size: 1.25em;
}

.demo {
  padding: 50px;
}

.list-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-item {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
}

.paginate-container {
  display: flex;
  flex-direction: column;
  margin: 60px;
}

.demo-img {
  height: 100%;
  width: 400px;
}

.text-content {
  font-size: 1.2em;
}

.text-container {
  padding: 50px;
}

.app {
  padding: 50px;
  margin: auto;
}

.list-demo-container {
  height: 100vh;
}

.card-container {
  margin-left: 50px;
  padding: 10px;
  background-color: deeppink;
}

.list-label {
  font-weight: bold;
}
